
body{
    background-color: rgb(221, 221, 221);
}

.d1{
    background-color: #131921;
    height: 60px;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    
}

.row{
    position: relative;
    bottom: 440px;
    left: 40px;
}

#e1{
    position: relative;
    left: 10px;
}

#e2{
    position: relative;
    left: 40px;
    cursor: pointer;
    font-size: 15px;
}

#e3{
    background-color: rgb(219, 218, 218);
    height: 40px;
    width: 60px;
    position: relative;
    left: 70px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    color: rgb(44, 44, 44);
    font-size: 12px;
    justify-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#e4{
    height: 40px;
    width: 540px;
    cursor: text;
    position: relative;
    border: none;
    left: 70px;
}

#filtro{
    background-color: rgb(252, 174, 71);
    width: 45px;
    height: 40px;
    position: relative;
    left: 70px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#e6{
    position: relative;
    left: 100px;
}

#e7{
    position: relative;
    left: 130px;
    font-size: 13px;
    background: transparent;
    color: white;
    border: none;
    
}

#e8{
    position: relative;
    left: 160px;
    font-size: 13px;
}

#e9{
    position: relative;
    left: 180px;
    font-size: 13px;
}

#icon1{
    position: relative;
    left: 40px;
    top: 10px;
}

.d2{
    background-color: #263344;
    height: 39px; 
    display: flex;
    flex-direction: row;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    font-size: 15px;
    align-items: center;
}

#prime{
    position: relative;
    left: 380px;
}

.btn1{
    position: relative;
    left: 130px;
    font-size: 13px;
    background: transparent;
    color: white;
    border: none;
}

.modal-content{
    width: 400px;
    position: relative;
    
}

.modal-header{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 400px;
    position: relative;
    top: 5px;
    left: 14px;
    border: 1px solid rgb(175, 174, 174);
    margin-top: 10px;
}

.modal-title{
    font-size: 30px;
    position: relative;
    right: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

#cel{
    position: relative;
    right: 96px;
    top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inp{
    position: relative;
    border-radius: 4px;
    border: 1px solid rgb(66, 66, 66);
    width: 300px;
    height: 32px;
}



.btnn{
    background-color: gold;
    position: relative;
    top: 10px;
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
}

.p1{
    position: relative;
    top: 30px;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 15px;
    
}

.p2{
    position: relative;
    top: 30px;
    right: 85px;
    color: rgb(49, 92, 173);
    font-size: 15px;
}

.p3{
    position: relative;
    top: 40px;
    right: 58px;
    font-size: 15px;
}

.p4{
    position: relative;
    top: 30px;
    right: 47px;
    color: rgb(49, 92, 173);
    font-size: 15px;
}

#carouselExampleIndicators{
    width: 1351px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 330px;
    left: 0px;
}

.card{
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
    border-radius: 0px;
    height: 360px;
    width: 600px;
    display: flex;
    flex-direction: column-reverse;
    font-size: 10px;
}

.card:hover{
    transform: scale(1.03);
}

.carrito{
    background: transparent;
    color: white;
    border: none;
}

#dropdownMenuButton{
    border-top-right-radius: 5px;
    width: 70px;
    position: relative;
    left: 75px;
    height: 41px;
    padding-inline-start: 2px;
    font-size: small;
    background-color: rgb(226, 222, 222);
    color: rgb(80, 80, 80);
}







