*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;align-items: center;
    background: linear-gradient(rgb(35, 114, 187),rgb(255, 38, 0));
    height: 1100px;    
}

.dp{
    width: 500px;
    height: 600px;
    background: url(https://i.pinimg.com/736x/5d/37/8a/5d378ae54222294b96f70cedbadaacef.jpg);
    border: 1px solid black;
    color:#e1e1e1cc;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    bottom: 120px;
}

.d1{
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(60%);
    flex-direction: column;
    display: flex;
}

h1{
    font-weight: normal;
    font-size: 30px;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    margin-bottom: 60px;
    text-align: center;
}

label{
    color:#e1e1e1cc;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    margin: 10px 0;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #2d6cf3;
}

input::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1em;
    font-weight: 500;
}

button{
    background-color: #2d6cf3;
    height: 40px;
    width: 415px;
    line-height: 40px;
    border-radius: 40px;
    border: none;
    margin: 100px 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.casilla{
    margin: 20px;
}

.user{
    position: relative;
    left: 380px;
    bottom: 40px;
}

.block{
    position: relative;
    left: 380px;
    bottom: 40px;
}










